* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  color: #54595d;
}

img {
  vertical-align: middle;
}

/* HEADER */
.central-textlogo {
  position: relative;
  height: 70px;
  width: auto;
  margin: 3.3rem 0 0 0;
  text-align: center;
  text-indent: -1rem;
  font-size: 1em;
}
.central-featured-logo {
  position: relative;
  display: inline-block;
  width: 57px;
  height: auto;
  left: 0;
  top: 0.8rem;
}
.central-textlogo-wrapper {
  display: inline-block;
  vertical-align: bottom;
  position: relative;
  text-indent: 0.2rem;
}

.sprite {
  background-image: linear-gradient(transparent, transparent),
    url(https://www.wikipedia.org/portal/wikipedia.org/assets/img/sprite-e99844f6.svg);
  background-repeat: no-repeat;
  vertical-align: middle;
}

.svg-wikipedia_wordmark {
  width: 150px;
  height: 25px;
  background-position: 0 -218px;
  background-size: 100%;
}
.central-textlogo__image {
  color: transparent;
  display: inline-block;
  overflow: hidden;
  text-indent: -10000px;
}
.localized-slogan {
  display: block;
  font-weight: 400;
  font-size: 1.4rem;
  font-family: Linux Libertine, Georgia, Times, serif;
}

/* CENTRAL FEATURED */
.central-featured {
  width: auto;
  height: auto;
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  vertical-align: middle;
  text-align: center;
  margin-top: 7rem;
}
.central-featured-lang {
  display: block;
  float: left;
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  height: 6.4rem;
  width: 33%;
  padding: 0 1.6rem;
  margin-bottom: 16px;
}
.central-featured-lang a {
  /* display: block; */
  white-space: normal;
  font-size: 1.56rem;
  text-decoration: none;
}
.central-featured-lang a strong {
  /* display: block; */
  color: #3366cc;
  font-size: 1.4rem;
}
.central-featured-lang a small {
  display: inline-block;
  color: #54595d;
  line-height: 1.4;
}
.central-featured-lang a bdi {
  margin-top: 0.8rem;
}

/* SEARCH CONTAINER */
.search-container {
  position: absolute;
  top: 9.6rem;
  left: 0;
  right: 0;
  width: auto;
  text-align: left;
  max-width: 95%;
  margin: 0.4rem auto 1.95rem;
}
.search-container .search-input {
  display: flex;
  position: relative;
  vertical-align: top;
  width: 100%;
}
.search-input input {
  width: 100%;
  height: 4.4rem;
  border-width: 0.2px 0 0.2px 0.2px;
  border-color: #72777d;
  border-radius: 2px 0 0 2px;
  padding: 0.8rem 9.6rem 0.8rem 1.2rem;
  font-size: 1.6rem;
  line-height: 1.6;
}
.search-input .styled-select {
  display: block;
  position: absolute;
  top: 15px;
  right: 60px;
  border-radius: 2px;
}
.search-input .styled-select label,
select {
  position: absolute;
  left: -65px;
}
select {
  top: -3px;
  left: -50px;
  border: 0;
}

.search-input button {
  float: right;
  right: -5.6rem;
  border-radius: 0 2px 2px 0;
  z-index: 2;
  background-color: #3366cc;
  border-width: inherit;
  color: transparent;
}
button .svg-search-icon {
  padding: 0.3em 1.5em;
  margin: 0 0 0 1.25em;
  background-position: 0 -697px;
}

/* LANGUAGE BUTTON WRAPPER */
.lang-list-button-wrapper {
  position: absolute;
  bottom: -38em;
  right: calc(50% - 128.805px);
}
.lang-list-button-wrapper .lang-list-button {
  position: relative;
  z-index: 1;
  padding: 0.6rem 1.2rem;
  border-radius: 2px;
  background-color: #f8f9fa;
  border: 1px solid #a2a9b1;
  color: #3366cc;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
}
.lang-list-button i {
  display: inline-block;
  vertical-align: middle;
}
.svg-language-icon {
  background-position: 0 -617px;
  width: 22px;
  height: 22px;
}
.lang-list-button-text {
  padding: 0 0.64rem;
}
.svg-arrow-down-blue {
  background-position: 0 -527px;
  width: 14px;
  height: 14px;
}
.line-separator {
  position: absolute;
  bottom: -3rem;
  left: calc(50% - 47.5vw);
  width: 95vw;
  height: 1px;
  background-color: black;
}

/* MAIN WIKIPEDIA PROJECTS CONTAINER */
.wikipedia-projects-container {
  display: inline-block;
  margin-top: 6em;
  font-size: 1.3rem;
}
.projects-description {
  padding: 0 0.5em;
  text-align: center;
  margin-bottom: 3em;
}
.footer-sidebar-content {
  margin: 0 auto;
}
.projects-description .svg-donation-icon {
  display: block;
  position: relative;
  right: 0;
  margin: 0 auto 1.28rem;
  background-position: 0 -212px;
  width: 42px;
  height: 42px;
}
.projects-description p {
  display: flex;
  flex-direction: column;
  line-height: 2rem;
}
.projects-description p a {
  text-decoration: none;
  color: #3366cc;
}

/* WIKIPEDIA BADGES ITEMS SECTION */
.projects-items-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5em;
  flex-wrap: wrap;
}
.projects-items-container article {
  width: 45%;
  display: flex;
  align-items: center;
  gap: 1em;
  padding-bottom: 1em;
  cursor: pointer;
  transition: 0.3s all ease;
}
.projects-items-container article:hover {
  background-color: #e4e4e4;
}
.projects-items-description {
  flex: 1;
  text-align: left;
  line-height: 2rem;
}
.projects-items-description h3 {
  font-size: 1.3rem;
  color: #3366cc;
}
.svg-badges1 {
  width: 45px;
  height: 49px;
}
.svg-badges2 {
  background-position: 0 -446px;
  width: 45px;
  height: 36px;
}
.svg-badges3 {
  background-position: 0 -482px;
  width: 45px;
  height: 36px;
}
.svg-badges4 {
  background-position: 0 -126px;
  width: 45px;
  height: 36px;
}
.wikinews-logo {
  background-image: url(https://www.wikipedia.org/portal/wikipedia.org/assets/img/Wikinews-logo_sister@2x.png);
  background-size: 45px 26px;
  background-repeat: no-repeat;
}
.svg-badges5 {
  background-position: 0 0;
  width: 45px;
  height: 36px;
}
.svg-badges6 {
  background-position: 0 -163px;
  width: 45px;
  height: 50px;
}
.svg-badges7 {
  background-position: 0 -409px;
  width: 45px;
  height: 36px;
}
.svg-badges8 {
  background-position: 0 -286px;
  width: 45px;
  height: 36px;
}
.svg-badges9 {
  background-position: 0 -47px;
  width: 45px;
  height: 40px;
}
.svg-badges10 {
  background-position: 0 -328px;
  width: 45px;
  height: 39px;
}
.svg-badges11 {
  background-position: 0 -367px;
  width: 45px;
  height: 36px;
}
.svg-badges12 {
  background-position: 0 -89px;
  width: 45px;
  height: 36px;
}
.wikipedia-app-section {
  background-color: #f8f9fa;
  padding: 0.5em;
  font-size: 1.25rem;
  text-align: center;
}
.footer-sidebar-icon {
  display: inline-block;
  position: relative;
  top: -3px;
  left: 0;
  vertical-align: middle;
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
}
.svg-wikipedia-log {
  background-position: 0 -719px;
  width: 42px;
  height: 42px;
}
.wikipedia-app-section h3 {
  font-size: inherit;
  margin-bottom: 1.25em;
}
.wikipedia-app-section > p {
  line-height: 1.75rem;
  margin-bottom: 1em;
}
/* .wikipedia-app-container {
  display: flex;
  gap: 1em;
  justify-content: center;
} */
.wikipedia-app-container li {
  display: inline-block;
}
.wikipedia-app-container li a {
  color: transparent;
  background-color: transparent;
}
.svg-badge_google_play_store {
  background-position: 0 -541px;
  width: 124px;
  height: 38px;
}
.svg-badge_app_store {
  background-position: 0 -579px;
  width: 110px;
  height: 38px;
}
/* .wikipedia-app-container div {
  display: flex;
  align-items: center;
  gap: 0.5em;
  text-align: left;
  background-color: #000;
  border-radius: 4px;
  color: #fff;
  padding: 0.5em;
} */

/* FOOTER */
footer {
  margin-top: 4em;
  padding: 1em 0;
  border-top: 1px solid #a2a9b1;
  font-size: 1.15rem;
  line-height: 1.8rem;
  text-align: center;
}
footer > a {
  text-decoration: none;
  color: #3366cc;
}

/* MEDIA QUERIES */
@media (min-width: 480px) {
  .central-textlogo {
    position: relative;
    margin: 6rem 0 1.5rem;
    font-size: 3rem;
    font-weight: 400;
    line-height: 3.3rem;
    text-align: center;
  }
  .central-featured-logo {
    width: 200px;
    position: absolute;
    top: 140px;
    left: calc(50% - 100px);
  }
  .svg-wikipedia_wordmark {
    background-position: 0 -254px;
    width: 176px;
    height: 32px;
  }
  .central-textlogo-wrapper {
    display: inline-block;
    vertical-align: bottom;
  }
  .central-featured {
    position: relative;
    height: 325px;
    height: 32.5rem;
    width: 546px;
    width: 54.6rem;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
  }
  .central-featured-lang {
    position: absolute;
    width: 156px;
    width: 15.6rem;
  }
  .lang-1 {
    top: 0;
    right: 60%;
  }
  .lang-2 {
    top: 0;
    left: 60%;
  }
  .lang-3 {
    top: 20%;
    right: 70%;
  }
  .lang-4 {
    top: 20%;
    left: 70%;
  }
  .lang-5 {
    top: 40%;
    right: 72%;
  }
  .lang-6 {
    top: 40%;
    left: 72%;
  }
  .lang-7 {
    top: 60%;
    right: 70%;
  }
  .lang-8 {
    top: 60%;
    left: 70%;
  }
  .lang-9 {
    top: 80%;
    right: 60%;
  }
  .lang-10 {
    top: 80%;
    left: 60%;
  }
  .search-container {
    top: 450px;
    width: 540px;
    max-width: 95%;
    margin: 3rem auto;
    vertical-align: middle;
    text-align: center;
  }
  .lang-list-button-wrapper {
    bottom: -8em;
  }
  .wikipedia-projects-container {
    margin-top: 16em;
  }
  .projects-items-container article {
    width: 30%;
  }
}
